* {
    border: 0px solid red;
}

#stripe {
    text-align: center;
    color: black;
}

.selected {
    background-color: #2C8E99;
	color: white;
}

.square {
    width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	transition: background .5s;
    -webkit-transition: background .5s;
	-moz-transition: background .5s;
}

.btn:hover {
    background-color: rgb(0, 33, 221);
    color: white;
}

#container {
    max-width: 650px;
    height: 450px;
    padding-top: 20px;
    margin: 0 auto;
    background-color: blue;
}