* {
    border: 0px solid red;
}

#stripe {
    text-align: center;
    color: black;
}

.selected {
    background-color: #2c8e99;
    color: white;
}

.square {
    width: 150px;
    background-color: purple;
    padding-bottom: 30%;
    margin: 1.66%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}

.btn:hover {
    background-color: rgb(0, 33, 221);
    color: white;
}

#container {
    display: flex;
    flex-wrap: wrap;
    max-width: 650px;
    padding-block: 20px;
    justify-content: space-evenly;
    margin: 0 auto;
    background-color: blue;
}
